.App {
  text-align: left;
}

.App-header {
  background-color: #17775a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}

.App-link {
  color: #61dafb;
}

h1 {
  color: #efef5e;
}

.table {
  background-color: #16654c;
  display: flex;
  padding: 3%;
}

.table-body {
  min-height: 12em;
}

.table-controls {
  min-height: 1em;
  padding-top: 0;
}

.add_card {
  align-self: flex-end;
}

input {
  line-height: 2.5em;
  border: none;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.1em 2em;
}

button {
  padding: 0.82em 1.5em;
  background-color: #11bb76;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  margin-left: 0.1em;
  transition: 0.2s all;
}

button:hover {
  background-color: #18de98;
}

button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

label {
  font-weight: bold;
  margin-bottom: 0.3em;
  font-size: 0.93em;
  display: block;
}

.rotation_card {
  padding-top: 1em;
  display: flex;
  width: 40%;
  flex-direction: column;
  margin-left: auto;
}

.rotation_card_body {
  display: flex;
  width: 40%;
  flex-direction: unset;
  justify-content: space-between;
  margin-left: auto;
}

.rotation_card_body>input {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 50%;
}

.rotation_card_body>button {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: white solid;
  width: 35%;
}

.addeded_cards {
  display: flex;
	flex-wrap: nowrap;
  overflow-x: scroll;
}

.card {
  height: 9em;
  min-width: 6em;
  background-color: white;
  border: black solid;
  border-radius: 0.5em;
  margin-left: 30px;
}

.addeded_cards > :first-child {
  margin-left: 0px;
}

 /* width */
 /* To make the scrollbar visible, uncomment the width */
 ::-webkit-scrollbar {
  /* width: 1px; */
}

/* Track */
::-webkit-scrollbar-track {
  background: #186a50;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #115943;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0f4f3c;
} 
