.App {
  text-align: left;
}

.App-header {
  background-color: #17775a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}

.App-link {
  color: #61dafb;
}

h1 {
  color: #efef5e;
}

.table {
  background-color: #16654c;
  min-height: 50vh;
}
